@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 238, 245, 255;
  --foreground: 5, 40, 89;
  --card: 255, 255, 255;
  --btn-next-step: 5, 40, 89;
  --input: 255, 255, 255;
  --input-color: 0, 0, 0;
  --toggle-color: 255, 255, 255;
  --card-summary: 248, 249, 254;
  --btn-next-step-hover: 23, 74, 139;
  --slider-desktop: url("./assets/images/bg-sidebar-desktop.svg");
  --slider-mobile: url("./assets/images/bg-sidebar-mobile.svg");
}

@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ubuntu-font {
  font-family: "Ubuntu", sans-serif;
}

.vazirmant-font {
  font-family: Vazirmatn, sans-serif;
}

input {
  outline: none;
}

.light {
  --background: 238, 245, 255;
  --foreground: 5, 40, 89;
  --card: 255, 255, 255;
  --btn-next-step: 5, 40, 89;
  --input: 255, 255, 255;
  --input-color: 0, 0, 0;
  --toggle-color: 255, 255, 255;
  --card-summary: 248, 249, 254;
  --btn-next-step-hover: 23, 74, 139;
  --slider-desktop: url("./assets/images/bg-sidebar-desktop.svg");
  --slider-mobile: url("./assets/images/bg-sidebar-mobile.svg");
}

.dark {
  --background: 18, 18, 18;
  --foreground: 255, 255, 255;
  --card: 31, 31, 31;
  --btn-next-step: 56, 56, 56;
  --input: 18, 18, 18;
  --input-color: 255, 255, 255;
  --toggle-color: 18, 18, 18;
  --card-summary: 56, 56, 56;
  --btn-next-step-hover: 18, 18, 18;
  --slider-desktop: url("./assets/images/bg-sidebar-desktop-dark.svg");
  --slider-mobile: url("./assets/images/bg-sidebar-mobile-dark.svg");
}

.menu {
  transition: width 1s;
  overflow: hidden;
}
