@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eef5ff;
  --foreground: #052859;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "BNAZANIN";
  src: local("BNAZANIN"), url("../public/fonts/BNAZANIN.TTF") format("TTF");
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "BNAZANIN", sans-serif;
  direction: rtl;
}

input {
  outline: none;
  font-family: sans-serif;
}

/* .radio:checked + label {
  background-color: red;
} */
